<div id="footer">
  <hr/>
  <div id="valid">
  <a href="https://validator.w3.org/check?uri=referer">
    <!--<img src="https://www.w3.org/html/logo/badge/html5-badge-h-solo.png" height="31" alt="HTML5 Powered" title="HTML5 Powered">-->
    <!--<div id="html5-comment">Why? Because I am a fan of audio tag, and so I used it on this page.</div>-->
    Valid HTML5
  </a>
  <a href="https://jigsaw.w3.org/css-validator/check/referer">
    <!--<img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" height="31" width="88" />-->
    Valid CSS
  </a>
  </div>
  <a id="glider" href="https://www.catb.org/hacker-emblem/">
    <img src="https://www.catb.org/hacker-emblem/glider.png" alt="hacker emblem the glider" />
  </a>
</div>
